@import "../../styles/partials/global";

.navBar {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  backdrop-filter: blur(10px);
  @include desktop {
    backdrop-filter: blur(3px);
  }

  @include tablet {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 1.5em 3em;
  }

  @include desktop {
    padding: 1.5em 4em;
  }

  &__logo {
    width: 120px;
    height: 25px;
    margin-bottom: 0.5em;
    background-image: url("../../assets/logo/logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      margin-bottom: 0;
    }
  }
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

    @include tablet {
      width: auto;
      flex-wrap: nowrap;
    }
  }

  &__links {
    width: 100%;
    color: $primary-color-white;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.8em 1.5em;
    cursor: pointer;

    @include tablet {
      width: 7rem;
      font-size: 0.85rem;
    }

    @include desktop {
      width: 7rem;
    }

    &--mod {
      padding: 0.8em 2em;
      border: 1px solid transparent;
      border-radius: 20px;
      background-color: $primary-color-red;

      &:hover {
        background-color: $primary-color-white;
        color: $primary-color-red;
      }
    }
    &--user {
      @include tablet {
        font-size: 0.875rem;
        font-weight: 700;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        width: auto;
      }
    }
  }
}
