// FONTS

@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("Demi.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf")
    format("Regular.otf");
  font-weight: 400;
}
