// SCREEN BREAKPOINTS

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// COLORS

$primary-color-black: #323232;
$primary-color-blue: #034694;
$primary-color-silver: #d1d3d4;
$primary-color-white: #ffffff;
$primary-color-red: #ed1c24;
$secondary-color-gold: #dba111;
$secondary-color-darkBlack: #000000;
$secondary-color-darkBlue: #0065ad;
$secondary-color-mercury: #e1e1e1;
$secondary-color-alabaster: #fafafa;
