@import "../../styles/partials/global";

.card {
  width: 90%;
  margin: auto;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 70%;
    padding-left: 2.5em;
  }

  &__slider {
    height: 40vh;
    @include tablet {
      height: 45vh;
    }
    @include desktop {
      height: 40vh;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 0.813rem;
    line-height: 1.13rem;
    font-weight: 700;
    margin: 0 0 1em -1em;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.4rem;
      margin: auto;
    }
  }
  &__container {
    width: 200px;
    height: 40vh;
    margin: auto;
    border-radius: 7px;
    background-color: $secondary-color-mercury;
    display: flex;
    justify-content: center;
    align-items: end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    @include tablet {
      width: 200px;
      height: 45vh;
      margin: 2em auto;
    }

    @include desktop {
      width: 230px;
      height: 40vh;
    }
  }
  &__details {
    text-transform: uppercase;
    font-size: 0.813rem;
    font-weight: 400;
    line-height: 1.13rem;
    text-align: center;
    bottom: 1em;
    right: 1em;
    color: $primary-color-white;

    @include tablet {
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 1.4rem;
    }
  }

  &__link {
    text-decoration: none;
  }
}
